<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include layout/styles
        title Wolf Capital
    body
        .container
            .row
                .col-md-6
                    include layout/navbar
                .col-md-6

        include sections/home

        include sections/about

        include sections/works

        include sections/partner

        include layout/contact

        include layout/Footer

        include layout/scripts