.contact-us
  .container
    .row
      .col-md-6
        .informations
          span CONTACT US
          h2 Don't Hesitate to Contact us for any
          span Information
          .phone
            p Call us for immidiate support to this number
            p 011 5223 1293

      .col-md-6
        form(action="")
          .form-group
            label(for="mail") Your Mail*
            input(type="text", id="mail")
          .form-group
            label(for="subject") Subject*
            input(type="text", id="subject")
          .form-group
            label(for="message") Message
            textarea(name="", id="message")
            .button.btn-fill.text-center SEND REQUEST