footer
  .content.container
    .row
      .col-sm-6.col-md-3
        .activities
          h4 ACTIVITIES
          ul.list-unstyled
            li Home
            li About Us
            li How It Works
            li Partner With Us
      .col-sm-6.col-md-3
        .resources
          h4 RESOURCES
          ul.list-unstyled
            li Help Center
            li Wolfn Capital @ Work
            li Wolfn Capital for Advisors
            li Accessibility
            li Blog
      .col-sm-6.col-md-3
        .company
          h4 COMPANY
          ul.list-unstyled
            li About Us
            li Careers
            li Terms
            li Licenses
            li Privacy
      .col-sm-6.col-md-3
        .update-news
          h4 UPDATE NEWS
          form
            input(type="text", placeholder="Ener Your Email")
            button.btn.btn-primary(type='submit')
              i.fas.fa-arrow-right
          .social
            h4 FOLLOW US
            ul.list-unstyled
              li
                i.fab.fa-facebook-f
              li
                i.fab.fa-twitter
              li
                i.fab.fa-instagram
              li
                i.fab.fa-linkedin-in
              li
                i.fab.fa-youtube
              li