nav.navbar.navbar-expand-lg
    .logo: a(href="#") WOLFE
        span CAPITAL
    ul.navbar-nav
        li.nav-item.active: a(href="#") Home
        li.nav-item: a(href="#") About Us
        li.nav-item: a(href="#") How It Works
        li.nav-item: a(href="#") Partener