.about
    .container
        .row
            .col-md-4
                .cards.one
                    .card
                        i.fas.fa-hands-helping.fa-3x
                        h3 How We Help?
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet voluptatem nemo, delectus itaque.
                        i.fas.fa-arrow-right
                    .card
                        i.fas.fa-coins.fa-3x
                        h3 What Is Wolf Capital?
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet voluptatem nemo, delectus itaque.
                        i.fas.fa-arrow-right
            .col-md-4
                .cards.two
                    .card
                        i.fas.fa-address-card.fa-3x
                        h3 Why Wolf Capital?
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet voluptatem nemo, delectus itaque.
                        i.fas.fa-arrow-right
                    .card
                        i.fas.fa-people-carry.fa-3x
                        h3 We Help Together
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet voluptatem nemo, delectus itaque.
                        i.fas.fa-arrow-right
            .col-md-4
                .cards.three
                    .card
                        span About Us
                        h2 How We Help
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nihil aliquam, quis neque beatae ratione adipisci maiores nam, perferendis quae sit facere accusamus impedit ullam libero sequi modi eaque vel?
                    .card
                        i.fas.fa-file-alt.fa-3x
                        h3 Wolf Capital Policy
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet voluptatem nemo, delectus itaque.
                        i.fas.fa-arrow-right