section.home#home
    .container
        h1 Flexible Funding<br>
            span Solutions
        p Because in business, the only constant is change
        .buttons
            button.btn-fill Explore More
            button.btn-empty Get In Touch