.partner
  .cover
    .layer
    img(src="./img/partner.jpg", alt="")
  .partner-box
    span How to
    h2 Partner with Wolf?
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestiae blanditiis earum sequi voluptatem temporibus maxime illo commodi ut repellat dolores nemo asperiores quia, obcaecati ducimus voluptates incidunt tenetur qui.
    button.btn-fill.black MORE DETAILS