.works
    .container
        .box-work.text-center
            .heading
                .logo Wolf Capital
                h2 What does working
                    br
                    | with us mean for you? we'll

            .services
                .row
                    .col-md-4
                        .service
                            i.far.fa-bell.fa-3x
                            h4 Our Services
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore tempore blanditiis voluptates voluptate incidunt quos.
                    .col-md-4
                        .service
                            i.far.fa-address-book.fa-3x
                            h4 Our Services
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore tempore blanditiis voluptates voluptate incidunt quos.
                    .col-md-4
                        .service
                            i.far.fa-money-bill-alt.fa-3x
                            h4 Our Services
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore tempore blanditiis voluptates voluptate incidunt quos.